<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="row">
                <img src="" alt="image">
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
         <div class="row border-bottom">
            <h4>ProductName</h4>
            <p>ProductDetails</p>
         </div>
         <div class="row">
            <p><strong>Rs Price</strong> off</p>
            <p>inclusive of all taxes</p>
         </div>
         <div class="row">
            <h5>PRODUCT DETAILS</h5>
            <H5>Design Details</H5>
            <p>Description</p>
         </div>
         <a href="#">buy now</a>
        </div>
    </div>
</div>